.Mycontainer {
  display: flex;

  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  display: flex;
  justify-content: center;

  margin-top: 5%;
}
.resultCard {
  margin-top: 5%;
  margin-right: 25%;
  margin-left: 25%;
  height: 50%;
  background-color: #daa03dff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
}
.resultHead {
  font-size: 4rem;
  padding-bottom: 10%;
  margin-left: 25%;
  color: rgb(72, 72, 57);
}
.scoreHead {
  font-size: 3rem;
  padding-bottom: 15%;
  color: rgb(72, 72, 57);
}
.mybtn {
  width: 50%;
  margin-left: 20%;
}

.mainDiv {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.underMain {
  height: 60%;
  width: 60%;
  background-color: #daa03dff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
}
.questionStyle {
  margin-top: 2%;
  margin-left: 2%;
}
.optionsStyle {
  margin-top: 1%;
  margin-left: 2%;
  font-size: 200%;
}
.lastBtn {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
}
